<div class="container">
  
  <form action='/create' method="post">  
    <h3>New Users: Create Account</h3>
      Full Name: <input class="field" type="text" name="name"> <br>
      Email: <input class="field" type="text" name="email"> <br>
      Password: <input class="field" type="text" name="password"> <br>
    <input class="button" type="submit" value="Create me!">
  </form>
  <br>
  
  <form action='/login' method="post">  
    <h3>User Login</h3>
      Email: <input class="field" type="text" name="email"> <br>
      Password: <input class="field" type="text" name="password"> <br>
    <input class="button" type="submit" value="Login">
  </form>

</div>



